<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Заполнение данных</title>
<link rel="stylesheet" type="text/css" href="res/css/bootstrap3.css" />
<link href="res/css/style.css" rel="stylesheet" />
</head>
<body>
	<form method="post" action="#" th:action="@{/valuesOfMfc}" th:object="${services}"
		target="sended.html">
		<table class="table table-bordered">
			<tr>
				<th colspan="4" class="text-center">Заполните данные</th>
			</tr>
			<tr>
				<td colspan="4" class="text-center">Перечень государственных
					услуг</td>
			</tr>
			<tr>
				<td>№</td>
				<td colspan="2">Наименование услуги</td>
			</tr>
			<th:block th:each="service,row: ${services}">
				<tr>
					<td th:text="${row.index+1}"></td>
					<td th:text="${service.title}"></td>
					<td>
						<div>
							Услуга, предусмотренная соглашением "ДА"-1, "НЕТ"-0 <select>
								<option
									th:value="${service.mfcData != null} ? ${service.mfcData.field1} : '2' ">3</option>
								<option>0</option>
							</select>
						</div>
						<div>
							Количество обращений по услуге за месяц<br /> <font color="red">МФЦ
							</font> <input type="text"
								th:value="${service.mfcData != null} ? ${service.mfcData.field2} : '' " /><br />
							<font color="red">УПФР</font> <input type="text"
								th:value="${service.mfcData != null} ? ${service.mfcData.field3} : '' " />
						</div>

						<div>
							Информационное взаимодействие <select>
								<option>KD</option>
								<option>ss</option>
							</select>
						</div>
					</td>
				</tr>
			</th:block>
		</table>
		<input class="btn btn-lg btn-success" value="Отправить" type="submit"
			onclick="alert('Данные отправлены!')" />
	</form>
</body>
</html>