<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="res/css/bootstrap3.css" />
<link href="res/css/style.css" rel="stylesheet" />
<title>Данные, которые были отправлены</title>
</head>
<body>
	<table class="table table-bordered">
		<tr>
			<td colspan="4" class="text-center">Перечень государственных
				услуг</td>
		</tr>
		<tr>
			<td>№</td>
			<td colspan="2">Наименование услуги</td>
		</tr>
		<th:block th:each="service,row: ${wrapper.services}">
			<tr>
				<td th:text="${row.index+1}"></td>
				<td th:text="${service.title}"></td>
				<td>
					<div>
						Услуга, предусмотренная соглашением : <span
							th:text="${service.mfcData != null} ? ${service.mfcData.field1} : '' " />
					</div>
					<div>
						(МФЦ)Количество обращений по услуге за месяц : <span
							th:text="${service.mfcData != null} ? ${service.mfcData.field2} : '' " /><br />
					</div>
					<div>
						(УПФР)Количество обращений по услуге за месяц : <span
							th:text="${service.mfcData != null} ? ${service.mfcData.field3} : '' " />
					</div>

					<div>
						Информационное взаимодействие: <span
							th:text="${service.mfcData != null} ? ${service.mfcData.field4} : '' " />
					</div>
				</td>
			</tr>
		</th:block>
	</table>
</body>
</html>